@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #F7F7F2;
    margin: 0;
    padding: 0;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    background-color: #F7F7F2;
    color: black;
}

.navOptions1 a {
    padding: 1rem;
    font-size: small;
    font-weight: 500;
    color: black;
}

.navOptions2 a {
    padding: 1rem;
    font-size: small;
    font-weight: 500;
    color: black;
}

.generalContainer {
    box-sizing: border-box;
}

.containerN1 {
    padding-left: 5rem;
    padding-right: 5rem;
    float: left;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(1rem, 17vw, 55rem);
    gap: clamp(1rem, 8vw, 11rem);
}

.mainContent1 div{
    font-family: 'Advent Pro', sans-serif;
    font-size: clamp(1.5rem, 1.3vw, 4rem);
    font-weight: 400;
}

.mainContent2 {
    font-weight: 800;
    font-size: clamp(1rem, 11vw, 18rem);
}


.aboutmeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutMe {
    margin-bottom: 1rem;
}

.aboutMe div{
    font-weight: 800;
    font-size: 4rem;
}

.aboutMeEx div{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.3vw, 4rem);
}

.containerN2 {
    background-color: #0F0F0F;
    float: right;
    width: 25%;
    height: 100vh;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cardContainer {
    margin-bottom: 2rem;
}

.containerImage {
    padding: 0rem 1.2rem 0rem 1.2rem;
    width: 100%;
    height: clamp(15rem, 30vw, 51rem);
    overflow: hidden;
}

.mainContentImg1, .mainContentImg2, .mainContentImg3, .mainContentImg4{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.informationImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titoloImg, .annoImg {
    color: white;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: clamp(0.5rem, 1.3vw, 2rem);
    padding: 0.5rem 1.2rem 0 1.2rem;
}

.footerLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    gap: 2rem;
    color: #0F0F0F;
}

.footerLink div {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

hr {
    width: 100%;
    margin: 0;
}