@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principalImg {
    width: 110em;
    height: 60.5em;
    position: relative;
}

.mainImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainTitle {
    margin: 0;
    color: white;
    font-weight: 900;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.centerText {
    text-align: center;
    width: 100%;
}

.leftText {
    left: 0;
    color: #8E8E8E;
}

.rightText {
    right: 0;
    color: #8E8E8E;
}

.piccolaIntroduzione {
    margin: 0 30rem;
    margin-bottom: 7rem;

}

.piccolaIntroduzione div{
    font-family: 'Advent Pro', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
}

.lineInformation {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
}

.lineInformation div {
    width: 20rem;
    text-align: center;
}

.prova h2{
    color: white;
    font-size: medium;
    font-weight: 500;
    margin-top: 15rem;
}